---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import AnimatedIntro from "../components/home/AnimatedIntro";
import PostsList from "../components/PostsList.astro";
import { NAME } from "../utils/constants";
import type { Post } from "../utils/types";

// Set the id so the intro can hide/reveal the header
const introNavLinks = [
  { href: "/#about-me-content", label: "About", id: "nav-about" },
  { href: "/#latest-posts-content", label: "Latest", id: "nav-latest-posts" },
  { href: "/projects", label: "Projects", id: "nav-projects" },
  { href: "/posts", label: "All Posts", id: "nav-topics" },
];

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
) as Post[];
const posts = allPosts.slice(0, 5);
---

<Layout
  title={`Home | ${NAME} - Tech Blog`}
  description={`Welcome to ${NAME}'s tech blog.`}
>
  <Header slot="header" id="main-site-header" class="header-hidden-by-hero" />

  <div id="animated-intro">
    <AnimatedIntro client:load navLinks={introNavLinks} />
  </div>
  <div class="pt-0">
    <section
      id="about-me-content"
      class="min-h-[40vh] py-16 md:py-20 flex items-center justify-center scroll-mt-20"
    >
      <div class="text-center max-w-3xl mx-auto">
        <h2 class="text-3xl md:text-4xl font-headline mb-6">About Myself</h2>
        <p class="text-lg text-gray-500 leading-relaxed">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque quam
          dolores reiciendis, consectetur nihil odit voluptates impedit ab,
          ipsum a architecto animi eligendi enim obcaecati molestiae illum,
          porro exercitationem facilis.
        </p>
      </div>
    </section>

    <section class="py-16 md:py-24" id="latest-posts-content">
      <h2 class="text-4xl md:text-5xl font-headline text-center mb-12 md:mb-16">
        Latest Posts
      </h2>
      <PostsList {posts} />
    </section>
  </div>
</Layout>

<script>
  // Make sure that the header appears after scrolling past the
  const headerElement = document.getElementById("main-site-header")!;
  const introElement = document.getElementById("animated-intro")!;

  const observer = new IntersectionObserver(
    ([entry]) => {
      if (entry.intersectionRatio <= 0.25) {
        headerElement.classList.remove("header-hidden-by-hero");
        headerElement.classList.add("header-revealed");
      } else {
        headerElement.classList.add("header-hidden-by-hero");
        headerElement.classList.remove("header-revealed");
      }
    },
    {
      root: null,
      threshold: 0.25,
    },
  );
  observer.observe(introElement);
</script>
