---
import Header from "../components/layout/Header.astro";
import Layout from "../layouts/Layout.astro";
import { NAME } from "../utils/constants";
---

<Layout title={`Projects | ${NAME}`} description={`All of ${NAME}'s Projects`}>
  <Header />
  <div class="py-15 container mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl md:text-5xl font-headline text-center mb-12 md:mb-16">
      Under Construction
    </h1>
  </div>
</Layout>
