---
import Header from "../components/layout/Header.astro";
import Layout from "../layouts/Layout.astro";
import { NAME } from "../utils/constants";
---

<Layout title={`Projects | ${NAME}`} description={`All of ${NAME}'s Projects`}>
  <Header />
  <h1 class="text-3xl font-headline">UNDER CONSTRUCTION</h1>
</Layout>
