---
// TODO: Consider whether this component should actually bother to handle
// the case of having no posts
import type { Post } from "../utils/types";
import PostCard from "./PostCard.astro";

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 ? (
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {posts.map((post: any) => (
        <PostCard {post} />
      ))}
    </div>
  ) : (
    <p class="text-center text-gray-400">No posts yet. Stay tuned!</p>
  )
}
