---
import '../styles/global.css';

interface Props {
  title: string; 
  description?: string; 
}

const { title, description = "George Padron's Blog"} = Astro.props; 
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /> 
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-brand-black text-brand-white font-body min-h-screen flex flex-col">
		<slot name="header" />

		<main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8">
			<slot /> 
		</main>

		<footer class="text-center py-6 text-sm text-gray-400 border-t border-gray-700">
			© {currentYear} George Padron. All rights reserved. 
		</footer>
	</body>
</html>
